USE [PhotoPrint]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_Size]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_PrintingHouse]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_MountingType]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_ModifiedByUser]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_MaterialType]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_Mat]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_Image]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_FrameType]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_FrameSize]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_Currency]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [FK_OrderItem_CreatedByUser]
GO
ALTER TABLE [dbo].[OrderItem] DROP CONSTRAINT [DF_OrderItem_IsDeleted]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 10/28/2021 9:10:49 PM ******/
DROP TABLE [dbo].[OrderItem]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 10/28/2021 9:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[ImageID] [bigint] NOT NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[SizeID] [bigint] NULL,
	[FrameTypeID] [bigint] NOT NULL,
	[FrameSizeID] [bigint] NULL,
	[MatID] [bigint] NOT NULL,
	[MaterialTypeID] [bigint] NOT NULL,
	[MountingTypeID] [bigint] NOT NULL,
	[ItemCount] [int] NOT NULL,
	[PriceAmountPerItem] [decimal](18, 2) NOT NULL,
	[PriceCurrencyID] [bigint] NOT NULL,
	[Comments] [nvarchar](1000) NOT NULL,
	[PrintingHouseID] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedByID] [bigint] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedByID] [bigint] NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderItem] ADD  CONSTRAINT [DF_OrderItem_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_CreatedByUser] FOREIGN KEY([CreatedByID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_CreatedByUser]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_Currency] FOREIGN KEY([PriceCurrencyID])
REFERENCES [dbo].[Currency] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Currency]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_FrameSize] FOREIGN KEY([FrameSizeID])
REFERENCES [dbo].[Size] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_FrameSize]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_FrameType] FOREIGN KEY([FrameTypeID])
REFERENCES [dbo].[FrameType] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_FrameType]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_Image] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Image] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Image]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_Mat] FOREIGN KEY([MatID])
REFERENCES [dbo].[Mat] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Mat]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_MaterialType] FOREIGN KEY([MaterialTypeID])
REFERENCES [dbo].[MaterialType] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_MaterialType]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_ModifiedByUser] FOREIGN KEY([ModifiedByID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_ModifiedByUser]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_MountingType] FOREIGN KEY([MountingTypeID])
REFERENCES [dbo].[MountingType] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_MountingType]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_PrintingHouse] FOREIGN KEY([PrintingHouseID])
REFERENCES [dbo].[PrintingHouse] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_PrintingHouse]
GO
ALTER TABLE [dbo].[OrderItem]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderItem_Size] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Size] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Size]
GO
